* {
    margin: 0;
    padding: 0;
}

body {

    font-family: 'Open sans', sans-serif;
    font-size: 18 px;
    background-color: #white;

}

header {

height: 100px;
padding: 0 20px;


background-color: #000000;

display: flex;
justify-content: flex-end;
align-items: center;
}

#MenuNavegacao {

    display: flex;
    gap: 40px;
    
}

ul, ol {

    list-style: none;
}

#MenuNavegacao li a {


    color: 	#F8F8FF;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;

    transition: 0.3s;
}

#MenuNavegacao li a:hover{

    border-bottom: 2px solid white;

}

main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

section {
    padding: 45px 30px; 
    margin: auto;
    width: 960px;
}

.sub-section {
    background-color: #1C1C1C;
    width: 100%;
    height: 350px;
}

.article-container {
    
    color:	#F8F8FF;
    text-align: center;
    width: 100%;
    margin: 0;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 15px;
}

h1, h3 {
    color: #808080;
}

h2, h4 {
    color: #A9A9A9;
}

section ul {
    max-width: 760px;
    margin: auto;
    align-items: center;
}

.foto-perfil {

    width: 150px;
    border: 5px solid #000000;
    
    border-radius: 100%;
    padding: none;

    align-items: center;

    margin-bottom: 5px;
}

.foto-perfil:hover {
    opacity: 0.6;
}


.article-container p {

    margin: 0;
    color: #808080;
    line-height: 23px;
    margin-top: 15px;
}

#formacao h3 {
    padding: 4px;
    color: white;
}

#formacao h4 {

    margin-bottom: 10px;
    margin-top: 20px;
    justify-content: center;
    text-align: left; 
    margin-left: auto;
    margin-right: auto;
    max-width: 600px; 
    color: white;

}

#formacao p {

    color: #DCDCDC;
    padding: 20px;
}

#formacao a {
    color: 	#808080; 
    margin: 0 auto; 
    max-width: 600px;
    display: block;
    margin-top: 5px; /* Ajuste a margem conforme necessário */
    text-decoration: none;
    font-weight: bold;
  }
  
  #formacao a:hover {
    text-decoration: underline;
  }

#formacao h4,
#formacao p {
  max-width: 600px; 
  margin: 0 auto;
}

#portifolio h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#portifolio h4 {

    margin-bottom: 10px;
    margin-top: 20px;
    justify-content: center;
    text-align: left; 
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

#portifolio p {

    color: #808080;
    padding: 20px;
}

#portifolio h4,
#portifolio p,
#portifolio a {
  max-width: 600px; 
  margin: 0 auto;
}

.imagens {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0%;
    padding: none;
}
  
.imagens img {
    padding: none;
    width: 200px;
    height: 200px;
    margin-right: 100px;
    height: auto;
    margin-right: 20px; /* Espaçamento entre as imagens */
    border: 10px solid  #1C1C1C; /* Cor do contorno, ajuste conforme necessário */

}
  
  /* Para evitar que a última imagem tenha margem à direita */
  .imagens img:last-child {
    margin-right: 0;
}

#pet-text {
    color: #808080;
    margin-bottom: none;
    margin-top: 20px;
    justify-content: center;
    text-align: left; 
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    font-size: 15px;
}

#portifolio a {
    color: #363636;  
    max-width: 600px;
    font-size: 14px;
    display: block;
    margin-top: 5px; /* Ajuste a margem conforme necessário */
    text-decoration: none;
    font-weight: bold;
}

#portifolio a:hover {
   text-decoration: underline;
}

footer {
    text-align: left;
    padding: 20px;
    background-color:#000000;
    color: white;
    bottom: 0;
    width: 100%;
}
  
footer ol {
    padding: 0; 
    list-style: none; 
}

footer li {
  padding: 10px; /* Espaçamento entre os itens da lista */
  font-size: 22px; /* Tamanho do texto, ajuste conforme necessário */
}

footer i {
  margin-right: 15px; /* Espaçamento à direita do ícone */
}
footer .fas.fa-envelope-square {
    font-size: 24px; 
}

footer .fab.fa-github-square {
    font-size: 24px; 
}

footer .fa-brands.fa-instagram {
    font-size: 24px;
}

footer a {
    color: white;
    text-decoration: none;

}

footer a:hover {
   
    border-bottom: 2px solid white;
    
    transition: 0.3s;

}